* {
    padding: 0;
    margin: 0;    
}

body {
    box-sizing: border-box;
}

body {
	font: 'Roboto', sans-serif;
    color: rgba(0,0,0,.5);
    text-transform: uppercase;
	background: linear-gradient(to bottom right, red , yellow); /* Standard syntax */
}

div.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font: 600 2.5em 'Roboto', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Roboto', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
    margin-top: 20px;
}
